<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Log In or Register</title>
		<include href="blocks/head.html" />
	</head>
	<body class="login">
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">

				<check if="{{ @GET.required }}">
                    <p class="alert">
						<strong>Attention!</strong> You must be signed in to access that page.
                    </p>
                </check>
				<check if="{{ @GET.registered }}">
                    <p class="success">
                        <strong>Success!</strong> Your account was registered. You may now log in.
                    </p>
                </check>
                <check if="{{ @errors }}">
                    <p class="error">
                        <strong>Error:</strong>
                        <repeat group="{{ @errors }}" value="{{ @error }}">
                            {{ @error }}
                        </repeat>
                    </p>
                </check>

				<h3>Log In</h3>
				<form action="/login" method="post" autocomplete="off" spellcheck="false">
					<table width="100%">
						<tr>
							<td>
								<p>Enter your username and password to log in.</p>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" name="username" value="{{ @post.username }}" placeholder="Enter username" autofocus>
							</td>
						</tr>
						<tr>
							<td>
								<input type="password" name="password" value="{{ @post.password }}" placeholder="Your password">
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit" name="login" class="btn btn-primary">Log In</button>
							</td>
						</tr>
					</table>
				</form>

				<br /><br />

				<h3>Create Account</h3>
				<form action="/login" method="post" autocomplete="off">
					<table>
						<tr>
							<td>
								<p>To create a new account, fill out the below form. First, enter your name.</p>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" name="full_name" value="{{ @post.full_name }}" placeholder="Enter name">
							</td>
						</tr>
						<tr>
							<td>
								<p>Once a username is chosen, it can no longer be changed.</p>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" name="username" value="{{ @post.username }}" placeholder="Choose a username" spellcheck="false">
							</td>
						</tr>
						<tr>
							<td>
								<input type="password" name="password" value="{{ @post.password }}" placeholder="Password">
							</td>
						</tr>
						<tr>
							<td>
								<input type="password" name="password_confirmation" value="{{ @post.password_confirmation }}" placeholder="Confirm password">
							</td>
						</tr>
						<tr>
							<td>
								<p>Your email address will be used only in case you forget your password.</p>
							</td>
						</tr>
						<tr>
							<td>
								<input type="email" name="email" value="{{ @post.email }}" placeholder="Email address">
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit" name="register" class="btn btn-primary">Register</button>
							</td>
						</tr>
					</table>
				</form>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
