<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ @post.title }} | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
				<check if="{{ @errors }}">
					<p class="error">
						<strong>Error:</strong>
						<repeat group="{{ @errors }}" value="{{ @error }}">
							{{ @error }}
						</repeat>
					</p>
				</check>
				<form action="" method="post">
					<table>
						<tr>
							<td class="meta">
								<a href="/question/{{ @post.id }}">&lsaquo; back</a> &ndash;
								{{ @post.date_created | shortTimeSince }}
								by <a href="/user/{{ @post.author.username }}">{{ @post.author.username }}</a>
							</td>
						</tr>
						<tr>
							<td class="title">{{ @post.title }}</td>
						</tr>
						<check if="{{ @post.body }}">
							<tr>
								<td>{{ @post.body | raw }}</td>
							</tr>
						</check>
						<tr>
							<td><textarea name="body" rows="6" cols="40" placeholder="Your response..." autofocus>{{ @text }}</textarea></td>
						</tr>
						<tr>
							<td>
								<p>Before posting, familiarize yourself with our <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/etiquette.md">etiquette</a>. Read through possible <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/formatting.md">formatting options</a>.</p>
							</td>
						</tr>
						<tr>
							<td>
								<button class="btn btn-secondary" type="submit" name="comment">Submit Answer</button>
							</td>
						</tr>
					</table>
				</form>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
