<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ask | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
				<div class="box ask-box">
					<div class="block">
	                    <h4>Ask Question</h4><br />
	                    <check if="{{ @errors }}">
	                        <div class="alert alert-danger">
	                            <strong>Errors:</strong>&nbsp;
	                            <repeat group="{{ @errors }}" value="{{ @error }}">
	                                {{ @error }}
	                            </repeat>
	                        </div>
	                    </check>
	                    <form action="/ask" method="post">
	                        <fieldset class="form-group">
	                            <input class="form-control" type="text" name="title" value="{{ @post.title }}" placeholder="Title" autofocus>
	                            <small class="text-muted">Title is required and should be concrete, descriptive and to the point. You can expand further in body text.</small>
	                        </fieldset>
	                        <fieldset class="form-group">
	                            <textarea class="form-control" name="body" rows="4" placeholder="Body Text">{{ @post.body }}</textarea>
	                            <small class="text-muted">
									Text is an optional field. It should be used to expand on the question title.
									View our <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/formatting.md">formatting help page</a> to see some of the formatting options.
								</small>
	                        </fieldset>
	                        <fieldset class="form-group">
	                            <div class="alert alert-info">
	                                Please make yourself acquanted with our content policy and practice <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/etiquette.md">good etiquette</a>.
	                            </div>
	                        </fieldset>
	                        <button type="submit" class="btn btn-primary">Submit</button>
	                    </form>
					</div>
				</div>
				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
