<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ask | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body class="ask">
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">

                <check if="{{ @errors }}">
                    <p class="error">
                        <strong>Error:</strong>
                        <repeat group="{{ @errors }}" value="{{ @error }}">
                            {{ @error }}
                        </repeat>
                    </p>
                </check>

				<form action="/ask" method="post">
					<table>
						<tr>
							<td>
								<p>Please read through
									<a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/etiquette.md">our guidelines</a> and
									<a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/formatting.md">formatting options</a> before posting.</p>
							</td>
						</tr>
						<tr>
							<td>
								Please remember:
								<ul>
									<li>Be concrete, descriptive and to the point.</li>
									<li>No petitions, funderaisers, crowdfunding campaigns.</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td><input type="text" name="title" value="{{ @post.title }}" placeholder="Question" autofocus></td>
						</tr>
						<tr>
							<td><textarea name="body" rows="8" placeholder="Body (optional)">{{ @post.body }}</textarea></td>
						</tr>
						<tr>
							<td>
								<button type="submit" class="btn btn-primary">Submit</button>
							</td>
						</tr>
					</table>
				</form>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
