<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ @post.title }}</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
				<div class="box">
					<div class="block">
						<check if="{{ @GET.replied }}">
                            <div class="alert alert-success">
                                <strong>Success!</strong> Thank you for your reply.
                            </div>
	                    </check>
						<div class="question">
							<div class="title">
								{{ @post.title }}
							</div>
							<div class="meta">
								<span title="Posted by @{{ @post.author.username }}">@{{ @post.author.username }}</span>
								<span title="Posted {{ @post.date_created | shortDate }}">{{ @post.date_created | shortTimeSince }}</span>
							</div>
							<check if="{{ @post.body }}">
								{{ @post.body | raw }}
							</check>
							<div class="links">
								<span><a class="btn btn-link" href="/answer/{{ @post.id }}">Answer</a></span>
							</div>
						</div>
					</div>

					<div class="block">
						<div class="answers">
							<h3>Discussion</h3>
							<check if="{{ @comments }}">
								<repeat group="{{ @comments }}" value="{{ @comment }}">
									<div class="answer" id="answer-{{ @comment.id }}">
										<div class="meta">
											<span>Answered by @{{ @comment.author.username }}</span>
											<span>{{ @comment.date_created | shortTimeSince }}</span>
										</div>
										{{ @comment.body | raw }}
										<div class="links">
											<span><a href="/reply/{{ @comment.id }}">Reply</a></span>
											<span><a href="/report?answer={{ @comment.id }}">Report</a></span>
										</div>
										<repeat group="{{ @comment.replies }}" value="{{ @reply }}">
											<div class="reply" id="reply-{{ @reply.id }}">
												<div class="meta">
													<span>Replied by @{{ @reply.author.username }}</span>
													<span>{{ @reply.date_created | shortTimeSince }}</span>
												</div>
												{{ @reply.body | raw }}
												<div class="links">
													<span><a href="/report?reply={{ @reply.id }}">Report</a></span>
												</div>
											</div>
										</repeat>
									</div>
								</repeat>
								<false>
									<tr>
										<td>There are no comments.</td>
									</tr>
								</false>
							</check>
						</div>
					</div>
				</div>

				<include href="blocks/footer.html" />

			</div>
		</div>
	</body>
</html>
