<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body class="newest">
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
				<check if="{{ @page_content.items }}">
					<div class="block entries">
						<include href="blocks/posts.html" />
					</div>
					<false>
						<div class="block"><br />
							<p>
								You have reached the end of the list. There are no more items to display. In order to
								keep things relevant, we only show latest 1,000 questions. While older quesitons are
								still accessible, they may not appear in the listing.
							</p>
						</div>
					</false>
				</check>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
