<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ @post.title }}</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">

				<check if="{{ @GET.replied }}">
                    <p class="success">
                        <strong>Success!</strong> Thank you for your reply.
                    </p>
                </check>

				<table>
					<tr>
						<td class="meta">
							{{ @post.date_created | shortTimeSince }}
							by <a href="/user/{{ @post.author.username }}">{{ @post.author.username }}</a>
						</td>
					</tr>
					<tr>
						<td class="title">
							{{ @post.title }}
						</td>
					</tr>
					<check if="{{ @post.body }}">
						<tr>
							<td>
								{{ @post.body | raw }}
							</td>
						</tr>
					</check>
					<tr>
						<td class="links">
							<a class="" href="/answer/{{ @post.id }}" rel="nofollow">+ Respond</a>
						</td>
					</tr>
				</table>

				<br /><br />

				<h3>Discussion</h3>
				<check if="{{ @comments }}">

					<table class="discussion">
						<repeat group="{{ @comments }}" value="{{ @response }}">
							<tr>
								<td>
									<include href="blocks/response.html" />
								</td>
							</tr>
						</repeat>
					</table>

					<false>
						<tr>
							<td>There are no comments.</td>
						</tr>
					</false>
				</check>

				<include href="blocks/footer.html" />

				</div>
			</div>
		</div>
	</body>
</html>
