<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reply | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">

				<check if="{{ @errors }}">
					<p class="error">
						<strong>Error:</strong>
						<repeat group="{{ @errors }}" value="{{ @error }}">
							{{ @error }}
						</repeat>
					</p>
				</check>

				<form action="" method="post">
					<table>
						<tr>
							<td class="meta">
								<a href="/question/{{ @comment.post_id }}">&lsaquo; back</a> &ndash;
								{{ @comment.date_created | shortTimeSince }}
							</td>
						</tr>
						<tr>
							<td>
								{{ @comment.body | raw }}
							</td>
						</tr>
						<tr>
							<td>
								<textarea name="body" rows="2" cols="40" placeholder="Add your comment..." autofocus>{{ @text }}</textarea>
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit" name="comment">Comment</button>
							</td>
						</tr>
					</table>
				</form>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
