<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reply | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body>
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
					<div class="block">
						<div class="answer">
							<div class="body">
								{{ @comment.body | raw }}
							</div>
                            <div class="meta">
                                <span>{{ @comment.date_created | shortTimeSince }}</span>
                            </div>
						</div>

	                    <div class="composer">
							<div class="alert alert-info">
								Before posting, familiarize yourself with our <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/etiquette.md">etiquette</a>. Read through possible <a href="https://github.com/behindcoffee/behindcoffee-docs/blob/master/formatting.md">formatting options</a>.
							</div>
	                        <check if="{{ @errors }}">
	                            <div class="alert alert-danger">
	                                <repeat group="{{ @errors }}" value="{{ @error }}">
	                                    {{ @error }}
	                                </repeat>
	                            </div>
	                        </check>
	                        <form action="" method="post">
	                            <input type="hidden" name="item" value="{{ @comment.id }}">
	                            <input type="hidden" name="back" value="/question/{{ @post.id }}">
	                            <textarea class="form-control" name="body" rows="3" cols="40" placeholder="Type your reply here." autofocus>{{ @text }}</textarea>
	                            <div class="links">
									<span><button class="btn btn-secondary" type="submit" name="comment">Reply</button></span>
	                            </div>
	                        </form>
	                    </div>
					</div>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
