<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profile | BehindCoffee</title>
		<include href="blocks/head.html" />
	</head>
	<body class="profile">
		<include href="blocks/nav.html" />

		<div class="main">
			<div class="container">
                <check if="{{ @GET.success }}">
                    <p class="error">
                        <strong>Success!</strong> Profile has been updated.
                    </p>
                </check>
                <check if="{{ @errors }}">
					<p class="error">
                        <strong>Error:</strong>&nbsp;
                        <repeat group="{{ @errors }}" value="{{ @error }}">
                            {{ @error }}
                        </repeat>
					</p>
                </check>

				<form action="/profile" method="post">
					<table>
						<tr>
							<td><p>Your username is: {{ @profile.username }} <small>(cannot be changed)</small></p></td>
						</tr>
						<tr>
							<td><input type="password" name="current_password" value="" placeholder="Current Password"></td>
						</tr>
						<tr>
							<td>
								<p>Only your <u>name</u>, <u>username</u> and <u>bio</u> is public.</p>
							</td>
						</tr>
						<tr>
							<td><input type="text" name="full_name" value="{{ @profile.full_name }}" placeholder="Full Name"></td>
						</tr>
						<tr>
							<td><textarea name="about" rows="4" placeholder="About me...">{{ @profile.about }}</textarea></td>
						</tr>
						<tr>
							<td>
								<p>Email is private and used only if you forget your password.</p>
							</td>
						</tr>
						<tr>
							<td><input type="email" name="email" value="{{ @profile.email }}" placeholder="Email"></td>
						</tr>
						<tr>
							<td>
								<p>To change your password, type it into the box and then confirm it.</p>
							</td>
						</tr>
						<tr>
							<td><input type="password" name="new_password" value="" placeholder="New password"></td>
						</tr>
						<tr>
							<td><input type="password" name="new_password_confirm" value="" placeholder="Confirm new password"></td>
						</tr>
						<tr>
							<td><p><button type="submit" class="btn btn-primary">Update</button></p></td>
						</tr>
					</table>
				</form>

				<include href="blocks/footer.html" />
			</div>
		</div>
	</body>
</html>
